<div class="container p-5">
  <form class="p-3 border border-info" [formGroup]="form" (ngSubmit)="onSend()">
    <div class="form-group">
      <label for="firstName" class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-12">
        <input type="text"
               class="form-control"
               id="firstName"
               formControlName="firstName"
        />
      </div>
      <small class="form-text required-text"
      *ngIf="fieldErrors('firstName', 'required')">
        Enter your name
      </small>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-4 col-form-label">Surname</label>
      <div class="col-sm-12">
        <input type="text"
               class="form-control"
               id="lastName"
               formControlName="lastName"
        />
        <small class="form-text required-text"
               *ngIf="fieldErrors('lastName', 'required')">
          Enter your surname
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="middleName" class="col-sm-4 col-form-label">Middle name</label>
      <div class="col-sm-12">
        <input type="text"
               class="form-control"
               id="middleName"
               formControlName="middleName"
        />
        <small class="form-text required-text"
               *ngIf="fieldErrors('middleName', 'required')">
          Enter your middle name
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col-sm-4 col-form-label">Your phone number</label>
      <div class="col-sm-12">
        <input type="text"
               class="form-control"
               id="phone"
               formControlName="phone"
        />
        <small class="form-text required-text"
               *ngIf="fieldErrors('phone', 'required')">
          Enter your phone
        </small>
        <small *ngIf="fieldErrors('phone', 'number')"
               class="form-text invalid-form-text">
          Enter correct phone
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="placeOfWork" class="col-sm-4 col-form-label">Your place of work</label>
      <div class="col-sm-12">
        <input type="text"
               class="form-control"
               id="placeOfWork"
               formControlName="placeOfWork"
        />
        <small class="form-text required-text"
               *ngIf="fieldErrors('placeOfWork', 'required')">
          Enter your place of work
        </small>
      </div>
    </div>
    <fieldset class="form-check form-check-inline">
      <div class="col-sm-12">
        <label class="mr-4">Sex:</label>
        <input class="form-check-input"
               type="radio"
               formControlName="gender"
               id="male"
               value="male"
        />
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
      <div class="col-sm-12">
        <input class="form-check-input"
               type="radio"
               formControlName="gender"
               id="female"
               value="female"
        />
        <label class="form-check-label" for="female">
          Female
        </label>
        <small class="form-text required-text"
               *ngIf="fieldErrors('gender', 'required')">
          Check your sex
        </small>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="size" class="col-sm-4 col-form-label">Size t-shirt</label>
      <div class="col-sm-12">
        <select id="size"
                class="form-control"
                formControlName="size"
        >
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <small class="form-text required-text"
               *ngIf="fieldErrors('size', 'required')">
          Select your t-shirt size
        </small>
      </div>
    </div>
    <div class="form-group" formArrayName="skills">
      <p class="col-sm-4 col-form-label">
        <span class="mr-3">Your skills</span>
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="addSkill()">Add skills</button>
      </p>
      <div class="col-sm-12 form-inline" *ngFor="let skillsControl of getSkillsControls(); let i = index">
        <div [formGroupName]="i">
          <select id="skill"
                  class="form-control mr-2"
                  formControlName="skill"
          >
            <option value="" selected disabled hidden>Choose skill</option>
            <option value="javascript">JavaScript</option>
            <option value="angular">Angular</option>
            <option value="react">React</option>
            <option value="vue">Vue</option>
          </select>
          <small class="form-text required-text"
                 *ngIf="fieldErrors('skill', 'required')">
            Choose level
          </small>
          <select id="level"
                  class="form-control mr-2"
                  formControlName="level"
          >
            <option value="" selected disabled hidden>Choose level</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>
          </select>
          <small class="form-text required-text"
                 *ngIf="fieldErrors('level', 'required')">
            Choose level
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-4 col-form-label">Comment</label>
      <div class="col-sm-12">
          <textarea class="form-control"
                    rows="5"
                    id="comment"
                    placeholder="Enter your comment"
                    formControlName="comment"
          ></textarea>
        <small class="form-text required-text"
               *ngIf="fieldErrors('comment', 'required')">
          Enter comment
        </small>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid || sending">
          Send
          <span *ngIf="sending" class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading...</span>
            </span>
        </button>
      </div>
    </div>
  </form>
</div>



